<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Buzzword</title>
        <link rel="stylesheet" href="static/css/main.css" />
    </head>
<body>
<div id="upper">
    <div id="content">
        <header>
            <h1>Buzzword</h1>
        </header>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>

        <section id="buzzwords">
Wow. Much buzzword. Such HTML5. Many corporate. Very skill. So style. Many CSS. Wow.
        </section>
    </div>
   
    
</div>
<div id="lower">
<section id="kittens">
    <div id="person">
        <div id="profile_img" style="float:left;">
            <img id="image" src="http://placekitten.com/55/55" />
        </div>
        <div id="description">
            <h1>Name</h1>
            Description<br/>Nyaa.<br/>Nyaa.
        </div>
    </div>
     <div id="person">
        <div id="profile_img" style="float:left;">
            <img id="image" src="http://placekitten.com/54/56" />
        </div>
        <div id="description">
            <h1>Name</h1>
            Description<br/>Nyaa.<br/>Nyaa.
        </div>
    </div>
     <div id="person">
        <div id="profile_img" style="float:left;">
            <img id="image" src="http://placekitten.com/56/54" />
        </div>
        <div id="description">
            <h1>Name</h1>
            Description<br/>Nyaa.<br/>Nyaa.
        </div>
    </div>
     <div id="person">
        <div id="profile_img" style="float:left;">
            <img id="image" src="http://placekitten.com/57/55" />
        </div>
        <div id="description">
            <h1>Name</h1>
            Description<br/>Nyaa.<br/>Nyaa.
        </div>
    </div>
     <div id="person">
        <div id="profile_img" style="float:left;">
            <img id="image" src="http://placekitten.com/55/55" />
        </div>
        <div id="description">
            <h1>Name</h1>
            Description<br/>Nyaa.<br/>Nyaa.
        </div>
    </div>
</section>
</div>
    </body>
</html>
