<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Buzzword</title>
        <link rel="stylesheet" href="static/css/main.css" />
    </head>

    <body>
        <header>
            <h1>Buzzword</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#" >Home</a></li>
                <li><a href="#" >Blog</a></li>
                <li><a href="#" >About</a></li>
                <li><a href="#" >Contact</a></li>
            </ul>
        </nav>
        <section>
            <h1> Buzzstuff </h1>
            <p>
                Finn er kul :-)
            </p>
        </section>
        <section id=kittens>
            <figure>
                <img src"http://placekitten.com/150/150" alt="">
                <figcaption>
                    <h2>Name</h2>
                    Cute kittens can code too :3
                </figcaption>
            </figure>
        </section>
        <footer>
        </footer>
    </body>

</html>
